<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
    <p class="col-md-8 fs-4">This quiz will contain total 9 questions.</p>
    <p class="col-md-8 fs-4">Each question holds 10 points.</p>
    <br>
    
    <h2><b>Rules:</b></h2>
    
    <ol style="font-size: medium;">
        <li>Correct Answer +10 points.</li>
        <li>Wrong Answer -10 points.</li>
        <li>Time per question is 60 seconds.</li>
        <li>Refreshing the page will reset the quiz.</li>
    </ol>
    
    <h1 style="font-family: cursive; text-align: center;">All The Best!!!</h1>

    <div class="name col-md-4 my-3">
        <label style="font-size: medium;" for=""><b>Enter your name:</b></label>
        <input #name type="text" class="form-control">
    </div>

    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start</button>

</div>
